language: node_js

node_js:
  - 'stable'
  - 'v4'
  - 'iojs'
# Use container-based Travis infrastructure.
sudo: false

cache:
  directories:
    - node_modules

notifications:
  email: true
branches:
  except:
    - "/^v\\d+\\.\\d+\\.\\d+$/"

before_install:
  - npm install -g babel-cli@6.1.2

after_script:
  - npm run coveralls